services:
  jenkins:
    build: .
    container_name: jenkins-master
    user: root
    restart: always

    ports:
      - "8081:8080"
      - "50000:50000"

    dns:
      - 8.8.8.8
      - 8.8.4.4

    volumes:
      - jenkins_home:/var/jenkins_home
      - /var/run/docker.sock:/var/run/docker.sock

volumes:
  jenkins_home:
